{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row col-md-12">
            {% for car in cars %}
                <div class="col-md-4">
                    <div class="mb-4 mt-4 card text-center">
                        <div class="card-header">
                            <img src="/media/{{ car.image }}" width="120em" alt="Zdjęcie autka">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ car.brand }} {{ car.model }} z {{ car.year }}    
                            </h5>
                            <p class="card-text">
                                {{ car.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}