{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-sm">
            <code>*</code> - pole niewymagane
        </div>
        <div class="col-sm">
            <form action="{% url "new-car" %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
                {{ form }}
                <button type="submit" class="mt-4 form-control btn btn-dark">Dodaj nowy</button>
            </form>  
        </div>
        <div class="col-sm">
            {{ errors }}            
        </div>
    </div>
{% endblock %}
